<!DOCTYPE html>
<html>
<head>
  <title>App | Backoffice</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_pack_tag 'backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'backoffice', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar col-4 col-md-3 col-lg-2">
      <%= render "backoffice/shared/sidebar" %>
    </div>
    <div class="col-8 col-md-9 col-lg-10 offset-4 offset-md-3 offset-lg-2">
      <%= render 'backoffice/shared/message' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
